<div class="hero-unit">
  <div class="alert alert-success">
    <h1><%= @voucher.title %></h1>
    <h2><%= @voucher.description %></h2>
    <p> Expires on: <%= @voucher.expires_on %> </p>
    <p> From: <%= @voucher.from_name %> </p>
  </div>
  <a href="" class="btn btn-large btn-success">Use</a>
  <%= link_to "Use Coupon", voucher_path(@voucher,:voucher => {:used => true}),
  :method => :put,
  :confirm => "Are you sure you want to use this coupon?" %>
</div>



<%- model_class = Voucher -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @voucher.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @voucher.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_name) %>:</strong></dt>
  <dd><%= @voucher.from_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_name) %>:</strong></dt>
  <dd><%= @voucher.to_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_email) %>:</strong></dt>
  <dd><%= @voucher.from_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_email) %>:</strong></dt>
  <dd><%= @voucher.to_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expires_on) %>:</strong></dt>
  <dd><%= @voucher.expires_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:passcode) %>:</strong></dt>
  <dd><%= @voucher.passcode %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vouchers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_voucher_path(@voucher), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              voucher_path(@voucher),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
